<div class="product-container">
    <a [routerLink]="['/product', product.id]"><img class="product-image" src="{{ product.url }}"></a>
    <div><b>{{ product.name }}</b></div>
    <div>${{product.price}}</div>
    <form (ngSubmit)="addToCart(product)">
		<select class="select-input form-select" [(ngModel)]="quantity" name="quantity">
			<option
				*ngFor="let item of productCount" 
				[ngValue]=item
				[selected]="item === 1">
				{{ item }}
			</option>
		</select>
		<input class="btn btn-primary" type="submit" value="Add to Cart" />
    </form>
</div>